<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/selectauthor" method="post">
        {% csrf_token %}
        <h2>{{ book.title }}</h2>
        <p>ID: {{ book.id }}</p>
        <p>Description: {{book.desc }}</p>
        
        <p>Authors</p>
        {% for author in book.publishers.all %}	
            <ul><li><em>{{author.first_name}}<span> </span>{{author.last_name}}</em></li></ul>
        {% endfor %}   
        <select id="author" name="authorid">
        {% for i in all_the_authors %}
            <option value="{{ i.last_name}}">{{ i.first_name}}<span> </span>{{ i.last_name}}</option>

        {% endfor %}
        </select><br><br>
    <input type="hidden" name="this_book" value={{book.id}}> 
    <input type="submit" value="Add">
       
    </form>  
</body>
</html>