<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Counter</h1>
<h3>{{session['counter']}} times</h3>
<form action="count">
    <input type="submit" name="add one" value="Add one">
</form>
<form action="add_two">
    <input type="submit" name="add two" value="Add two">
</form>
<form action="destroy_session">
    <input type="submit" name="clear" value="Reset">
</form>
</body>
</html>



